#logo .contenair{
    position: absolute;
    z-index: 2;
    width: 150px;
    height: 115px;
    left: 23%;
    top: 90%;
    margin: -150px 0 0 -115px;
    opacity: 0.60;
    background: url('./logo.png');
    padding: none;
}


#logo .spacer{
    z-index: 2;
    width: 100%;
    height: 120;
    margin: 0;
    text-align: left;
    background: transparent;
}